/* 
- Font Sizes (px):
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62  / 74 / 86 / 98 

- Spacing System (px):
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

- Colors Used:
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  color: #444;
  line-height: 1.8;
  background-color: #f2f2f2;
}

/* general elements */
.container {
  width: 1024px;
  margin: 0px auto;
}

/***************************/
/* HEADER SECTION */
/***************************/

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 6rem;
  padding: 1rem 0;
  margin-bottom: 9rem;
  font-size: 1.7rem;
}

.nav-links {
  display: flex;
  gap: 1.8rem;
  margin-left: auto;
  list-style: none;
}

.nav-link:link,
.nav-link:visited {
  background-color: #ffd08a;
  color: #444;
  text-decoration: none;
  padding: 12px 24px;
  border-radius: 6px;
}

.nav-link:hover,
.nav-link:active {
  background-color: #ffd08a;
  box-shadow: 10px 5px 20px rgba(101, 77, 41, 0.644);
}

.nav-icon {
  font-size: 48px;
}

.header-section {
  margin-bottom: 9.6rem;
}

.header-container {
  display: flex;
  gap: 6rem;
  align-items: center;
}

/* testing */
.highlight {
  position: relative;
}

.highlight::after {
  display: block;
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  opacity: 0.7;
  transform: scale(1.07, 1.05) skewX(-15deg);
  background-color: #ffcccc;
}
/* testing highlight above */

.header-title {
  font-size: 3.9rem;
  line-height: 1.3;
  letter-spacing: -0.1rem;
  margin-bottom: 3rem;
}

.header-text {
  font-size: 2rem;
  line-height: 1.8;
}

.header-img {
  flex: 0 0 400px;
  border-radius: 0.5rem;
}

/***************************/
/* CARDS SECTION */
/***************************/
.subheading {
  font-size: 1.4rem;
}

.cards-section {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
  margin-top: 4.8rem;
  margin-bottom: 9.6rem;
}

.cards-book {
  background-color: #fdfefe;

  display: grid; /* Use grid for individual cards */
  grid-template-rows: auto 1fr auto;
  /* align-items: center; */

  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  box-shadow: 20px 20px 17px 3px rgba(0, 0, 0, 0.1);
}

.card-img {
  width: 100%;
  display: block;
}

.card-img-behave {
  box-shadow: 0 1px 0.5px 0 rgb(211, 211, 211);
}

.card-content {
  padding: 2rem;
  line-height: 1;
  position: relative;
}

.card-book-title {
  font-size: 1.8rem;
  line-height: 1.2;
  margin-bottom: 1rem;
}

.card-author {
  font-size: 1.2rem;
  margin-bottom: 1.6rem;
}

.card-text {
  font-size: 1.4rem;
  line-height: 1.8;
  margin-bottom: 4.8rem;
}

.buy-link:link,
.buy-link:visited {
  font-size: 1.8rem;
  text-decoration: none;
  cursor: pointer;
  background-color: #9bc5d9;
  color: #444;
  border-radius: 12px;
  padding: 8px 16px;
  outline: none;
  position: absolute;
  bottom: 5%;
}

.buy-link:hover {
  background-color: #c3dce8;
}

.buy-link:active {
  transform: scale(0.98);
}

/***************************/
/* REVIEWS SECTION */
/***************************/

.reviews-section {
  max-width: 102rem;
  /* height: 50rem; */
  margin: 0 auto;
  margin-bottom: 9.6rem;
  /* position: relative; */
}

.slider {
  position: relative;
  width: 100%;
  height: 40rem;
  border-radius: 0.5rem;
  background: linear-gradient(
    330deg,
    rgba(255, 203, 125, 1) 47%,
    rgba(255, 224, 177, 1) 91%
  );
}

.slide {
  display: flex;
  justify-content: center;
  padding: 4.6rem 2rem;
}

.review {
  width: 75%;
  position: relative;
}

.review-header {
  font-size: 3.2rem;
  margin-top: 3.6rem;
}

.review-text {
  font-size: 2.2rem;
  font-style: italic;
  margin-bottom: 2.4rem;
}

.review-author {
  display: flex;
  align-items: center;
  font-size: 1.6rem;
  gap: 2rem;
  margin-left: 40rem;
}

.review-author-img {
  width: 60px;
  border-radius: 55%;
}

.hidden {
  display: none;
}

/* testing buttons */

.slider-btn {
  position: absolute;
  top: 50%;
  z-index: 10;

  border: none;
  background: rgba(255, 255, 255, 0.7);
  font-family: inherit;
  color: #333;
  border-radius: 50%;
  height: 5.5rem;
  width: 5.5rem;
  font-size: 3.25rem;
  cursor: pointer;

  display: flex;
  justify-content: center;
  align-items: center;
}

.slider-btn--left {
  left: 5%;
  transform: translate(-50%, -50%);
}

.slider-btn--right {
  right: 5%;
  transform: translate(50%, -50%);
}

/***************************/
/* SIGNUP SECTION */
/***************************/
.signup-card {
  /* box-shadow: 20px 20px 17px 3px rgba(0, 0, 0, 0.1); */
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6rem;
}

.signup-img {
  border-radius: 0.5rem;
  mix-blend-mode: multiply;
}

.signup-title {
  font-size: 3.2rem;
  line-height: 1.4;
  margin-bottom: 3rem;
}

.signup-text {
  font-size: 1.8rem;
  line-height: 1.5;
  margin-bottom: 3rem;
}
